.password.input {
  .password-visibility-toggler {
    cursor: pointer;

    [data-mode="show"] { display: flex; }
    [data-mode="hide"] { display: none; }

    &.show {
      [data-mode="show"] { display: none; }
      [data-mode="hide"] { display: flex; }
    }

    [data-mode="show"],
    [data-mode="hide"] {
      align-items: center;
      color: $text-muted;

      &::before {
        @extend %aa-icon;

        margin-right: map-get($spacers, 1);
      }
    }

    [data-mode="show"]::before { content: map-get($aa-icons, 'visible'); }
    [data-mode="hide"]::before { content: map-get($aa-icons, 'hidden'); }
  }
}
