.DS_Store
.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/test/dummy/public/packs-test
/test/dummy/public/packs
/test/dummy/stats.json
.byebug_history
/coverage
node_modules/
/src/
!/website/src/
yarn-error.log
*.gem
/website/.env
