.priceSuffix {
  font-size: 40%;
  vertical-align: baseline;
}

.price {
  font-size: 3rem;
}

.subHeading {
  font-size: 20px;
  line-height: 1.5;
}

.cardNotice {
  background: rgba(#6dbf8e, 0.15);

  a {
    color: #6dbf8e;
    text-decoration: underline;
    font-weight: bold;
  }
}

.discountFrom {
  margin-bottom: 10px !important;
  padding: 5px 10px;
  background: var(--ifm-color-success-darker);
  color: white;
  border-radius: 4px;
  display: inline-block;
}

.cardHighlight {
  border: 2px solid var(--ifm-color-success-darker);

  .highlight {
    background: var(--ifm-color-success-darker);
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}
