#header {
  #main-nav { margin-right: auto; }
  .dropdown-item a { color: inherit; }

  .navbar-nav {
    @include media-breakpoint-up($sidebar-breakpoint) {
      align-items: center;
    }
  }

  .nav-item {
    .nav-link {
      @extend %text-truncate;

      width: 100%;

      & > * {
        display: inline-block;
        vertical-align: middle;
      }

      i.aa-icon {
        margin-right: map-get($spacers, 1);
        font-size: $header-icon-size;
        width: $header-icon-size;
        height: $header-icon-size;
      }
    }
  }
}
